<div class='jumbotron'>
  <h1>The Startlist</h1>
  <h1>
    <%= Time.now.strftime("%m/%d/%Y") %>
  </h1>
</div>
<div class='post1'>
  <h1>A solution to procrastination?</h1>
  <p>There is something you wish to achieve. </p>
</div>
<div class='post2'>
  <h1>CIVILIZED AGE </h1>
  <p>An elegant profile.</p>
</div>
<div class='post3'>
  <h1>ONE CMS, MANY RESOURCES </h1>
  <p>The Story of Novus OS</p>
</div>
<div class='post4'>
  <h1>watson</h1>
  <p>Create issues while you code </p>
</div>
<div class='post5'>
  <h1>Meteor on campus: Y-Hack </h1>
  <p>Meanwhile, Alexey Komissarouk presented Meteor at HackPrinceton to 350 students. </p>
</div>