// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";
body {
  padding-bottom: 100px;
}

.navbar-default .navbar-brand {
color: black;
font-size: 30px;
}

.navbar-default .navbar-nav > li > a {
color: black;
font-weight: bolder;
}

a:hover,
a:link,
a:active {
  text-decoration: none;
  color: black !important;
}

a h1 {
  color: black;
}

a p {
  color:black;
}

.jumbotron {
  margin-top: 100px;
  border: 10px solid black;
  border-radius: 0px !important;
}

.navbar {
  background-color: white;
  border-top: 0px solid black;
  border-right: 10px solid black;
  border-left: 10px solid black;
  border-bottom: 10px solid black;  border-radius: 0px !important;
}

.post1 {
  margin-top: 0px !important;
  border-top: 0px solid #000000;
  border-right: 20px solid #000000;
  border-left: 0px solid #000000;
  border-bottom: 5px solid #000000;
  width: 100%;
}
.post2 {
  margin-top: 0px !important;
  border-top: 0px solid #B40431;
  border-right: 20px solid #B40431;
  border-left: 0px solid #B40431;
  border-bottom: 5px solid #B40431;
  width: 100%;
}
.post3 {
  margin-top: 0px !important;
  border-top: 0px solid #0404B4;
  border-right: 20px solid #0404B4;
  border-left: 0px solid #0404B4;
  border-bottom: 5px solid #0404B4;
  width: 100%;
}
.post4 {
  margin-top: 0px !important;
  border-top: 0px solid #088A08;
  border-right: 20px solid #088A08;
  border-left: 0px solid #088A08;
  border-bottom: 5px solid #088A08;
  width: 100%;
}
.post5 {
  margin-top: 0px !important;
  border-top: 0px solid #AEB404;
  border-right: 20px solid #AEB404;
  border-left: 0px solid #AEB404;
  border-bottom: 5px solid #AEB404;
  width: 100%;
}

.postg {
  margin: 10px !important;
  border-top: 10px solid black;
  border-right: 10px solid black;
  border-left: 10px solid black;
  border-bottom: 10px solid black;
  padding: 10px;
}

.postg:hover {
  background-color:#F78181;
}

.vote {
  width: 50px;
  height:50px;
  margin: 15px;
  border-left: 4px solid black;
  border-bottom: 4px solid black;
  border-right: 40px solid transparent;
  border-top: 40px solid transparent;
  transform: rotate(135deg);
  -ms-transform: rotate(135deg); /* IE 9 */
  -webkit-transform: rotate(135deg); /* Safari and Chrome */
}

.vote:hover {
  border-left: 4px solid white;
  border-bottom: 4px solid white;
}

.panel-default {
  border-radius: 0px;
  border: 10px solid black;
  width: 50%;
  margin: auto;
  margin-top: 50px;
  clear: both;
}

.panel-heading {
  border-bottom: 10px solid black !important;
}

.form-control {
  border-radius: 0px;
  border: 3px solid black !important;
  outline: none;
  box-shadow:none !important;
  background: #D8D8D8;
}

.btn-default {
  border-radius: 0px;
  margin: 10px;
  border: 5px solid black;
  background: #D8D8D8;
}

.form-control:focus {
  border: 3px solid white !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color:black;
}

